* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(to right, #0f0c29,#7a7aaa, #302b63);
    font-family: 'Poppins', sans-serif;
    
}

form {
    position: relative;
    top: 18vh;
    left: 70vh;
    width: 60vh;
    padding: 50px;
    background: linear-gradient(45deg, rgba(6, 37, 111, 0.855), rgba(6, 38, 111, 0.69));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

form:hover {
    transform: translateY(-10px);
}

form input {
    width: 49vh;
    height: 5vh;
    outline: none;
    border: 2px solid navajowhite;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #333;
    font-weight: bolder;
}

form input::placeholder {
    color: #676262;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

form input:focus{
    background-color: #182441bb;
    color: whitesmoke;
}

form button {
    width: 40vh;
    height: 6vh;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(3, 3, 70, 0.578);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: rgba(3, 3, 70, 0.9);
    width: 42vh;
    animation: move 0.3s linear 2;
}
@keyframes move{
    from{transform: translate(0px);}
    50%{transform: translate(20px);}
    to{transform: translate(0px);}
}

.overlay {
    background: url('image.jpg');
    mix-blend-mode: multiply;
}